<div class="container">
  <h3 mat-dialog-title>Create ots</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #createForm="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Amount" [(ngModel)]="data.amount"
               name="amount" required [pattern]="'-?[1-9][0-9]*'" #amount="ngModel">
        <mat-error *ngIf="amount.errors?.required">Field required</mat-error>
        <mat-error *ngIf="amount.errors?.pattern">Amount should be a number</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select [(value)]="instalments" placeholder="Instalments">
          <mat-option value="YES">YES</mat-option>
          <mat-option value="NO">NO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!createForm.valid" [mat-dialog-close]="1" (click)="submit()">Create</button>
      <button mat-button (click)="cancel()" mat-dialog-close="cancelled" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
